<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>{{title}}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/index.3a72000e3fbeaf417a43c178fc44852c.css">
</head>

<body>
    <div id="app">{{html|safe}}</div>
    <script type="text/javascript">
    	window.__INITIAL_STATE__ = {{initialState|safe}}
    </script>
    <script src="/vendor.js"></script><script src="/bundle.8e788bf0079686fd7e55.js"></script>
</body>

</html>
